.App {
  text-align: center;
}

.Layout-booleanEditors {
  display: none !important
}
/* 
.OpenButton-textButton {
  border: 1px solid rgba(25, 118, 210, 0.5) !important
}

.OpenButton-textButton:hover {
  border: 1px solid #1976d2 !important
} */